@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
    background-color: rgb(255, 222, 236);
    font-family: 'Acme', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: rgb(184, 84, 112);
    color: white;
    padding: 80px;
    justify-content: center;
    position: relative;
}

header h1 {
    font-family: 'Marck Script', cursive;
    font-size: 60px;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 70px;
    height: auto;
}

.nav-buttons {
    margin-top: 0;
}

.nav-buttons a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 20px;
    background-color: rgb(223, 119, 148);
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.nav-buttons a:hover {
    background-color: rgb(168, 57, 88);
}

main {
    background-color: #F9C7D4;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

.container {
    background-color: #F9C7D4;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    width: 80%;
}

.text-box {
    font-size: 24px;
    margin: 10px 0;
    text-align: left;
    color: rgb(157, 47, 78);
}

img {
    width: 35%;
    border-radius: 30px;
    height: auto;
    margin: 20px;
}

footer {
    display: flex;
    gap: 40px;
    padding: 20px;
    background-color: rgb(168, 57, 88);
    color: #ffdeec; 
    font-size: 18px;
}

.footer-logo {
    border-radius: 20px;
    margin: 20px;
    width: 60px;
    height: auto;
}

footer a {
    text-decoration: none;
    color: #f8abcb;
    font-weight: bold;
}

footer a:hover {
    color: rgb(255, 106, 148);
}
